@model HRManagementSystem.Models.Salary
<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("sendmail", "SalaryCalculation",
    new { id = @Model.salaryid }, FormMethod.Post,new { enctype = "multipart/form-data" }))
    //@using (Html.BeginForm("sendmail", "HumanResource", FormMethod.Post, new { @id = Model.salaryid }))
    {
        @Html.AntiForgeryToken()
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row mt-3">
                <div class="col-12">
                    <div class="page-title-box page-title-box-sm">
                        <h1 class="page-title"><i class=""></i>Payslip</h1>
                    </div>
                </div>
            </div>
            <!-- end page title -->
            <br>

            <div class="custom-card">
                <table table style="width:100%;height:150px">
                    <thead>
                        <tr>
                            <th colspan=2 style="text-align:center;color:black;background-color:skyblue"><div>Employee</div></th>
                            <th style="text-align:center;color:black;background-color:skyblue"><div>Position</div></th>
                            <th style="text-align:center;color:black;background-color:skyblue"><div>PayPeriod</div></th>
                            <th colspan="2" style="text-align:center;color:black;background-color:skyblue"><div>BankAccount</div></th>
                        </tr>
                        <tr></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan=2 style="text-align:center">
                                @Model.Name
                            </td>

                            <td style="text-align:center">
                                @ViewBag.position
                            </td>

                            <td style="text-align:center">
                                @Model.date
                            </td>

                            <td colspan="2" style="text-align:center">
                                @Model.Bankacc
                            </td>

                        </tr>

                        <tr>
                            <th colspan=2 style="text-align:center;color:black;background-color:skyblue"><div>Earnings</div></th>
                            <th style="text-align:center;color:black;background-color:skyblue"><div>Amount</div></th>
                            <th style="text-align:center;color:black;background-color:skyblue"><div>Deductions</div></th>
                            <th colspan="2" style="text-align:center;color:black;background-color:skyblue"><div>Amount</div></th>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:center">
                                Monthly Salary (MMK)
                            </td>

                            <td style="text-align:center">
                                @Model.basic
                            </td>

                            <td rowspan="2" style="text-align:center">
                                Income Tax
                            </td>

                            <td rowspan="2" colspan="2" style="text-align:center">
                                @Model.tax
                            </td>

                        </tr>
                        <tr>
                            <td colspan=2 style="text-align:center">
                                Rate Per Hour
                            </td>

                            <td style="text-align:center">
                                @Model.hour
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="4" style="text-align:center">
                                Allowances
                            </td>

                            <td rowspan="2" style="text-align:center">
                                Allowances
                            </td>

                            <td rowspan="2" style="text-align:center">
                                @Model.totalallownace
                            </td>

                            <td rowspan="4" style="text-align:center">
                                Deductions
                            </td>

                        </tr>
                        <tr>

                            <td style="text-align:center">
                                Absent & Less Working Hour
                            </td>
                            @{

                                var unpaid = Model.unpaid * 8;
                            }
                            <td style="text-align:center">@unpaid</td>
                        </tr>
                        <tr>
                            <td style="text-align:center">
                                ET / OT hour fees
                            </td>
                            <td style="text-align:center">@Model.ot</td>

                            <td style="text-align:center">Advance Salary</td>
                            @{
                                var totaldeduction = unpaid * Model.hour;
                            }
                            <td style="text-align:center">@totaldeduction</td>
                        </tr>

                        <tr>
                            <td style="text-align:center">
                                Bonus
                            </td>

                            <td style="text-align:center">
                                @Model.bonus
                            </td>

                            <td style="text-align:center">
                                Deductions
                            </td>
                            <td style="text-align:center">
                                @Model.total_deduction
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2" style="text-align:center">
                                Total Allowances
                            </td>

                            @{
                                var allowance = Model.bonus + Model.ot + Model.totalallownace;
                            }

                            <td style="text-align:center"> @allowance</td>
                            <td colspan="2" style="text-align:center">
                                Total Deductions
                            </td>
                            @{
                                var deduct = Model.total_deduction + totaldeduction;
                            }
                            <td style="text-align:center">
                                @deduct
                            </td>
                        </tr>
                        <tr></tr>

                        <tr>
                            <td colspan="2" style="text-align:center">
                                GrossPay
                            </td>
                            <td colspan="4" style="text-align:center">
                                @Model.basic
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:center;color:black">
                                NetPay
                            </td>
                            <td colspan="4" style="text-align:center;color:black">
                                @Model.net_salary
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />

            <div class="row mt-3">
                <div class="col-12">
                    <div class="page-title-box page-title-box-sm">
                        <h1 class="page-title"><i class=""></i>Leave Statement</h1>
                    </div>
                </div>
            </div>
            <div class="custom-card">
                <table table style="width:100%;height:150px">
                    <tr>
                        <td style="text-align:center;background-color:skyblue">
                            Leave
                        </td>
                        <td style="text-align:center;background-color:skyblue">
                            Earned
                        </td>
                        <td style="text-align:center;background-color:skyblue">
                            Taken
                        </td>
                        <td style="text-align:center;background-color:skyblue">
                            Remain
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center">Casual</td>
                        <td style="text-align:center">6</td>
                        <td style="text-align:center">@ViewBag.casual</td>
                        @{var casual = 6 - ViewBag.casual;}
                        <td style="text-align:center">@casual</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">Sick</td>
                        <td style="text-align:center">30</td>
                        <td style="text-align:center">@ViewBag.sick</td>
                        @{var sick = 30 - ViewBag.sick;}
                        <td style="text-align:center">@sick</td>
                    </tr>

                    <tr>
                        <td style="text-align:center">Paid</td>
                        <td style="text-align:center">13</td>

                        <td style="text-align:center">@ViewBag.paid</td>
                        @{var paid = 13 - ViewBag.paid;}
                        <td style="text-align:center">@paid</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">Unpaid</td>
                        <td style="text-align:center">-</td>
                        <td style="text-align:center">@ViewBag.unpaid</td>

                        <td style="text-align:center">-</td>
                    </tr>
                </table>

            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-12">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <button type="submit" class="btn btn-info float-right">Send Payslip To Employee</button>
                </div>
            </div>
        </div>
    }
    <br />
    <br />
    @*<div class="form-group" style="text-align:center;font-size:large">
        <a href="@Url.Action("sendmail","HumanResource",new { id = @Model.salaryid })">Export Pdf</a>
    </div>*@
</body>
</html>

