
@model HRManagementSystem.Models.ChangePassword
    @*<div class="col-md-3"></div>*@

    <div class="custom-card">
<div class="content-wrapper">
    
    <div class="page-header page-header-light">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4>
                    <span class="icon-settings-wheel-fill">  Account Settings</span>
                </h4>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
    </div>
  
    <div class="content">
     
             
                  
                   
                                    <h3>Change Password</h3>
        <br /><br />
                                </div>
                                @using (Html.BeginForm("ChangePassword", "UserLogin"))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-group col-md-9">
                                        <label class="col-md-3 col-form-label">Current Password:</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(a => a.CurrentPassword, new { type = "password", @class = "form-control round font-embded", placeholder = "Enter your current password", required = "required", id = "password" })
                                            @Html.ValidationMessageFor(a => a.CurrentPassword, "", new { @class = "error" })
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-9">
                                        <label class="col-lg-3 col-form-label">New Password:</label>
                                        <div class="col-lg-6">
                                            @Html.TextBoxFor(a => a.NewPassword, new { type = "password", @class = "form-control round font-embded", placeholder = "Enter your new password", required = "required", id = "new_password" })
                                            @Html.ValidationMessageFor(a => a.NewPassword, "", new { @class = "error" })
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-9">
                                        <label class="col-lg-3 col-form-label">Confirm Password:</label>
                                        <div class="col-lg-6">
                                            @Html.TextBoxFor(a => a.ConfirmPassword, new { type = "password", @class = "form-control round font-embded", placeholder = "Enter your confirm password", required = "required", id = "confirm_password" })
                                            @Html.ValidationMessageFor(a => a.ConfirmPassword, "", new { @class = "error" })
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-9">
                                        <label class="col-lg-3 col-form-label"></label>
                                        <div class="col-lg-6">
                                            <span class="text-warning">@ViewBag.Unauthorize</span>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-9">
                                        <label class="col-lg-5 col-form-label"></label>
                                        <div class="col-lg-5">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                  
                    <!-- /filter toolbar -->
                    
      
        

@section scripts{
    <script type="text/javascript"></script>
}